
.customNav {
    background-color: white;

}

.jumbotron {
    background-image: url(images/concertheart.jpg);
    background-repeat: no-repeat;
    background-position: 100% 47%;
    background-size: 100% auto;
    color: white;
    background-color: #9FB4E3;
}

.b1 {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.appDownload {
    display: flex;
    justify-content: end;
}

.features {
    text-align: center;
    padding-bottom: 50px;
    text-decoration: underline;
    color: white;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover; 
    /* taken from stack overflow, code by sepukett86 */
}

.benefits {
    text-align: center;
    text-decoration: underline;
    padding: 50px;
    color: white;
}

.benefitDescription {
    text-align: center;
    color: white;
}

.media {
    padding: 50px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(229, 226, 226, 0.2);

}

.emailContain {
    background-image: url(/images/concertheart.jpg);
    background-size: 100% ;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    color: white;
  }

body {
    background-color: #7589B8;
    
}

.feature-container {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 50px;
}

.footerContent {
    display: flex;
}

.b2 {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
